{% load static %}

<div
  class="mt-10 relative flex flex-col-reverse py-16 lg:pt-0 lg:flex-col lg:pb-0"
>
  <div
    class="inset-y-0 top-0 right-0 z-0 w-full max-w-xl px-4 mx-auto md:px-0 lg:pr-0 lg:mb-0 lg:mx-0 lg:w-7/12 lg:max-w-full lg:absolute xl:px-0"
  >
    <svg
      class="absolute left-0 hidden h-full text-white transform -translate-x-1/2 lg:block"
      viewBox="0 0 100 100"
      fill="currentColor"
      preserveAspectRatio="none slice"
    >
      <path d="M50 0H100L50 100H0L50 0Z"></path>
    </svg>
    <img
      class="object-cover w-full h-56 rounded shadow-lg lg:rounded-none lg:shadow-none md:h-96 lg:h-full"
      src="{% static 'img/lib.jpg' %}"
      alt=""
    />
  </div>
  <div
    class="relative flex flex-col items-start w-full max-w-xl px-4 mx-auto md:px-0 lg:px-8 lg:max-w-screen-xl"
  >
    <div class="mb-16 lg:my-40 lg:max-w-lg lg:pr-5">
      <p
        class="inline-block mb-4 text-xs font-semibold tracking-wider text-blue-700 uppercase"
      >
        Brand new
      </p>
      <h2
        class="mb-5 font-sans text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-none"
      >
        Explore Worlds Within<br class="hidden md:block" />
        the Pages of
        <span class="inline-block text-blue-700">Books</span>
      </h2>
      <p class="pr-5 mb-5 text-base text-gray-700 md:text-lg">
        Books, inspiration, and knowledge await you. Dive into our collection of
        books that will take you on journeys beyond your imagination.
      </p>
      <div class="flex items-center">
        <a
          href="/"
          class="inline-flex items-center justify-center h-12 px-6 mr-6 font-medium tracking-wide text-white transition duration-200 rounded shadow-lg bg-blue-700 hover:bg-blue-800 focus:shadow-outline focus:outline-none hover:-translate-y-0.5"
        >
          Get started
        </a>
        <a
          href="/"
          class="inline-flex items-center justify-center h-12 px-6 mr-6 font-bold tracking-wide text-blue-700 transition duration-200 rounded shadow-lg bg-white hover:bg-gray-50 focus:shadow-outline focus:outline-none hover:-translate-y-0.5"
        >
          Learn more
        </a>
      </div>
    </div>
  </div>
</div>