{% load static %}

<nav class="flex items-center justify-between gap-10 p-4 bg-white shadow-md text-white fixed top-0 left-0 w-full z-50">
    <div class="text-4xl text-black font-bold ml-6">Book<span class="text-blue-600">Store.</span></div>

    <ul class="md:flex gap-7 text-gray-500 font-semibold text-xl hidden">
        <li class="hover:text-black cursor-pointer">Home</li>
        <li class="hover:text-black cursor-pointer">About</li>
        <li class="hover:text-black cursor-pointer">Contact</li>
        <li class="hover:text-black cursor-pointer">Cart</li>

    </ul>

    <div>
        <a href="/"
            class="inline-flex items-center justify-center h-10 px-3 mr-6 font-bold tracking-wide text-white transition duration-200 rounded shadow-lg bg-blue-700 hover:bg-blue-800 focus:shadow-outline focus:outline-none hover:-translate-y-0.5">
            Register Now
        </a>
    </div>
</nav>